<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ping Pong Result</title>
  </head>
  <body>
    <h1>Result</h1>
    <ul>
    {% for number in output %}
      <li>{{ number }}</li>
    {% endfor %}
    </ul>

  </body>
</html>
