<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ping Pong</title>
  </head>
  <body>
    <h1>Ping Pong</h1>
    <form action='getResult' method='post'>
      <label for='inputNum'>Number to count to</label>
      <input type='number' id='inputNum' name='inputNum'>
      <button type='submit'>Submit</button>
    </form>

  </body>
</html>
